@font-face {
  font-family: "Geist Mono:Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://static.figma.com/font/GeistMono_wght__1") format("woff2");
}
@font-face {
  font-family: "Geist Mono:Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://static.figma.com/font/GeistMono_wght__1") format("woff2");
}
@font-face {
  font-family: "Geist Mono:SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("https://static.figma.com/font/GeistMono_wght__1") format("woff2");
}
@font-face {
  font-family: "Instrument Sans:Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://static.figma.com/font/InstrumentSans_wdth_wght__1") format("woff2");
}
@font-face {
  font-family: "Instrument Sans:Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://static.figma.com/font/InstrumentSans_wdth_wght__1") format("woff2");
}
@font-face {
  font-family: "Instrument Sans:SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("https://static.figma.com/font/InstrumentSans_wdth_wght__1") format("woff2");
}

:host {
  --tw-include: all;
}

:host,
:host ::ng-deep {
  background-color: #080b0d;
}

:host ::ng-deep * {
  scrollbar-width: none;
}

:host ::ng-deep *::-webkit-scrollbar {
  display: none;
}
